<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<!--<add name="BOBCardEntities" connectionString="metadata=res://*/CardHolderModel.csdl|res://*/CardHolderModel.ssdl|res://*/CardHolderModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.22.9.15,21443;initial catalog=BOBCard_NEW;persist security info=True;user id=bobadmin;password=bob@$123$@;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="BOBCardEntities" connectionString="metadata=res://*/CardHolderModel.csdl|res://*/CardHolderModel.ssdl|res://*/CardHolderModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\;initial catalog=BOBCard;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="BOBCardEntities" connectionString="metadata=res://*/CardHolderModel.csdl|res://*/CardHolderModel.ssdl|res://*/CardHolderModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.22.9.15,21443;initial catalog=BOBCard;persist security info=True;user id=bobadmin;password=bob@$123$@;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>