$font-stack: Helvetica, sans-serif;
$primary-color: rgba(0,0,0,0.9);
$secondary-color: #AEAEAE;
$brand-color: #df5435;
$white-color:#fff;
$black-color:#000;
$brand-light-blue:#3CBFE9;
$brand-dark-blue:#3E5996;
$blue-text: #3E5996;
$light-grey: #f6f9fb;
$tool-tip: rgba(0,0,0,0.8);

//alerts
$alert-primary-bg:#e2f6fc;
$alert-warning-bg:#ffeee5;
$alert-secondary-bg:#f7f7f7;

$break-large: 960px;
$break-medium: 720px;

