<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah"/>
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah"/>
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah"/>
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah"/>
    </sectionGroup>
  </configSections>
  <system.net>
    <mailSettings>
      <smtp from="noreply@bobfinancial.com">
        <!--<network host="smtp.rediffmailpro.com" userName="auth@bobcards.com" password="Auth@124" port="587" />-->
        <!--<network host="192.168.0.51" userName="sahil.nagpal@silvertouch.com" password="sahilSAHIL@1234" port="25"/>-->
        <!--<network host="tqEEszNW+BqBwwj+Za7bRC7oF72N/BDr" userName="QuclAYUqsaEB1Gv95HSVDgt32yiY3+dP" password="+Jgor5pFg+ugbHIcqFuVnw==" port="587" />-->
        <network host="ppgqhCJUlm7h6V6de4vtTQ==" userName="" password="" port="587"/>
      </smtp>
    </mailSettings>
  </system.net>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target xsi:type="File" name="file" layout="${longdate} ${logger} ${message}" fileName="${basedir}/logs/logfile.txt" keepFileOpen="false" archiveNumbering="Sequence" archiveEvery="Day" maxArchiveFiles="30" concurrentWrites="true"/>
      <target xsi:type="File" name="BillDeskPayment" layout="${longdate}; Page: ${aspnet-request:serverVariable=Url}; Class: ${logger}; Information: ${message}" fileName="${basedir}/logs/BillDesk/${shortdate}/Payment.${date:format=yyyy.MM.dd.HH}.log" autoFlush="true" keepFileOpen="false" archiveFileName="${basedir}/logs/BillDesk/archives/Payment.{#####}.log" archiveAboveSize="4194304" archiveNumbering="Sequence" maxArchiveFiles="30" concurrentWrites="true"/>
      <target xsi:type="File" name="SendMailLog" layout="${longdate}; MailInformation: - ${message}" fileName="${basedir}/logs/MailLog/${shortdate}/MailDetails.${date:format=yyyy.MM.dd.HH}.log" autoFlush="true" keepFileOpen="false" archiveFileName="${basedir}/logs/MailLog/archives/MailDetails.{#####}.log" archiveAboveSize="4194304" archiveNumbering="Sequence" maxArchiveFiles="30" concurrentWrites="true"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="file"/>
      <logger name="SendMailfunction" minlevel="Info" writeTo="SendMailLog"/>
      <logger name="CardHolder.Utility.Payment.BillDeskRequest" minlevel="Info" writeTo="BillDeskPayment"/>
      <logger name="CardHolder.Utility.Payment.CalculateCheckSum" minlevel="Info" writeTo="BillDeskPayment"/>
      <logger name="CardHolder.Utility.Payment.BillDeskResponse" minlevel="Info" writeTo="BillDeskPayment"/>
    </rules>
    <rules/>
  </nlog>
  <!--<connectionStrings>
    -->
  <!--<add name="BOBCardEntities" connectionString="zZKSbjFOSHxP6ueEWGY6ozrNvIyMTvPWwp0DWav6+n9R5FIGeGf+90JH64WSWHsgPvFpfTTUlIP60G7/n0YL8nOI8vKvy5qmiejtZHZBeJqpAe73CFACQlE6JdxsLz4kA6XGrPjbDpRFtMz96dwnB+1QjCW67tFOf5zg/ETm3KquQhbAYY6AjWUaF8H3rCzQ1MzSxm9+GtPtkM5Qbf8vk7Mr9vYOTBMvuO5Vlz582EAA2z+4CKOw6WMfEmM2ypVpsMfusJX5S8ctg9B5eZzB9QO2SDSM0/CGZhZxbIgXdC6HnOqPDpQdc465VAPF6nH/qcQHHaXuj0wHrzpouILVMs2ihoVEzU3ga8qxjIv+ZFALc5rPhtXp0A==" providerName="System.Data.EntityClient"/>-->
  <!--
    <add name="BOBCardEntities" connectionString="metadata=res://*/CardHolderModel.csdl|res://*/CardHolderModel.ssdl|res://*/CardHolderModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\;initial catalog=BOBCard_NEW;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="bobcardconnection" connectionString="jf2yHZhBR208tDc3CMc9/PGKWV+lbXdb9WJbZRkVwKoowdEKfIxJC5pc2mVSNJrrg86sOjoXC1pUu6BysARMw+klWtwnED1y/eTH+a3y1Vmn+qmGps7rp4b0nK5i42opnzaTrmVlAMl8pKEsvIH2fwYliPW7VDcIn0dJSbmz3KgUrYCScH0061eO5a+1TJgEcm6syqV8JZqB/G/0m+Aq0qVIIxibwvm49CQvknJjcPh7WMizYi1K4czVyJkzxyaLfYBjwjx5OwwnigZOLdX7MQ=="/>
  </connectionStrings>-->
  <connectionStrings>
    <!--<add name="BOBCardEntities" connectionString="metadata=res://*/CardHolderModel.csdl|res://*/CardHolderModel.ssdl|res://*/CardHolderModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.22.9.15,21443;initial catalog=BOBCard;persist security info=True;user id=bobadmin;password=bob@$123$@;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="BOBCardEntities" connectionString="zZKSbjFOSHxP6ueEWGY6ozrNvIyMTvPWwp0DWav6+n9R5FIGeGf+90JH64WSWHsgPvFpfTTUlIP60G7/n0YL8nOI8vKvy5qmiejtZHZBeJqpAe73CFACQlE6JdxsLz4kA6XGrPjbDpRFtMz96dwnB+1QjCW67tFOf5zg/ETm3KquQhbAYY6AjWUaF8H3rCzQ1MzSxm9+GtPtkM5Qbf8vk6xTx/NkftsZyowEvU6TzVkN90MW3MxbvXo5Fvt9Xri8KffxmOcLQquTUXkQVynb3lk4OGyTq1qc08hemtT3p+1pLqYjtkirH3gKv9sXmtFCgBp5jGlcNJ/32ikWbmi8VzJ9l7jZVX5azZjNv0PAZ7q82ML5vWoD/ogY8zt1e6/ZMhJnLO9RELp+BqrlULoW7XfTOgvckzyA63MYkJZPYuN2W0h4qp/+Rg==" providerName="System.Data.EntityClient"/>
    <!--<add name="BOBCardEntities" connectionString="metadata=res://*/CardHolderModel.csdl|res://*/CardHolderModel.ssdl|res://*/CardHolderModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.22.9.15,21443;initial catalog=BOBCard_NEW;persist security info=True;user id=bobadmin;password=bob@$123$@;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="BOBCardEntities" connectionString="zZKSbjFOSHxP6ueEWGY6ozrNvIyMTvPWwp0DWav6+n9R5FIGeGf+90JH64WSWHsgPvFpfTTUlIP60G7/n0YL8nOI8vKvy5qmiejtZHZBeJqpAe73CFACQlE6JdxsLz4kA6XGrPjbDpRFtMz96dwnB+1QjCW67tFOf5zg/ETm3KquQhbAYY6AjWUaF8H3rCzQ1MzSxm9+GtPtkM5Qbf8vk6xTx/NkftsZyowEvU6TzVkN90MW3MxbvXo5Fvt9Xri8KffxmOcLQqsukEJPfQLjkVHvV16pm/yvaMI0pcxC345unXxOELjAZGZ79QHUKqFnI5Pw8fRTNikbTkfMa3/4V1wfzQFZ/N5l6qXRDrIfdVghTa2FyhW4HBtpNs9c/Hm+K6fXINtGiOGqxArU3BVZ0gm+5Ypo2mEbVdi3ARkzBl5Xj5aOgxB5dw==" providerName="System.Data.EntityClient" />-->
    <!--<add name="BOBCardEntities" connectionString="metadata=res://*/CardHolderModel.csdl|res://*/CardHolderModel.ssdl|res://*/CardHolderModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\;initial catalog=BOBCard;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="BOBCardEntities" connectionString="zZKSbjFOSHxP6ueEWGY6ozrNvIyMTvPWwp0DWav6+n9R5FIGeGf+90JH64WSWHsgPvFpfTTUlIP60G7/n0YL8nOI8vKvy5qmiejtZHZBeJqpAe73CFACQlE6JdxsLz4kA6XGrPjbDpRFtMz96dwnB+1QjCW67tFOf5zg/ETm3KquQhbAYY6AjWUaF8H3rCzQ1MzSxm9+GtPtkM5Qbf8vk7Mr9vYOTBMvuO5Vlz582EAA2z+4CKOw6WMfEmM2ypVpsMfusJX5S8ctg9B5eZzB9QO2SDSM0/CGZhZxbIgXdC6HnOqPDpQdc465VAPF6nH/qcQHHaXuj0wHrzpouILVMs2ihoVEzU3ga8qxjIv+ZFALc5rPhtXp0A==" providerName="System.Data.EntityClient"/>-->
<!--old Oracle Connection-->
    <!--<add name="bobcardconnection" connectionString="jf2yHZhBR208tDc3CMc9/PGKWV+lbXdb9WJbZRkVwKoowdEKfIxJC5pc2mVSNJrrg86sOjoXC1pUu6BysARMw+klWtwnED1yIYMCX/G++UdD6/K5ma5mYelDQj4KFk7fn/hmG/3i+pjxVd689CCpx7NR139j4FxDa+FuFGwnXNcvfmDkedvf1k48QyasYYAoi1gHE2ATiww5yF5QExwimhAYd5oq01oQioENiNAhK88KqWtLhCLQUQBJlaYeAIq2bvCyb2bPKaA="/>-->
    <add name="bobcardconnection" connectionString="jf2yHZhBR208tDc3CMc9/PGKWV+lbXdb9WJbZRkVwKoowdEKfIxJC5pc2mVSNJrrg86sOjoXC1pUu6BysARMw+klWtwnED1yIYMCX/G++UdD6/K5ma5mYelDQj4KFk7fn/hmG/3i+pjxVd689CCpx7NR139j4FxDa+FuFGwnXNcvfmDkedvf1k48QyasYYAoi1gHE2ATiww5yF5QExwimrqCdu3MWGwf9gcYHRW9xJu+JffwYhee0TQ9nLcbWVkAaHVn3tBVBvo="/>
  </connectionStrings>
  <appSettings>
    <add key="OTPURL" value="uwYJR5rF93efJA/HdteIlzgMKzMUjygIYb9Lk2xg2CZQtblGZ3QKjvIPczGbuQUEc0lmmMUeMjU="/>
    <add key="FEEDID" value="5gGoT4tbg5A="/>
    <add key="USERNAME" value="KsxpI3v6MP+jlBU1FuPG/Q=="/>
    <add key="PASSWORD" value="+T4hpM7l9Ac="/>
    <add key="MESSAGE" value="z+3rcGWNZ6bTFKB8ZAeodtKzMC2t6icbeitxz2PEVkKq+qvg2xfbDf+fMxwq5EP3dsHRuKTnDpOW/78/lOrSAimeZDZ1Iz71bBE6ta6cscRwwTOkTE4lAXabjcUhGfTJGPTe3xiJgG4="/>
    <add key="ATM_PIN_CHARGE" value="10.00"/>
    <add key="PRESERVE_STATEMEMT_CHARGE" value="15.00"/>
    <add key="ROOT_UPLOAD_FOLDER" value="upload"/>
    <add key="PROFILE_FOLDER" value="profile"/>
    <add key="ADDON_FOLDER" value="addons"/>
    <add key="DEFAULT_STATUS" value="Pending"/>
    <add key="BOB_EMAIL" value="noreply@bobfinancial.com"/>
    <add key="BOB_EMAIL_Name" value="NoreplyBOBCards"/>
    <add key="REQUEST_EMAIL_SUBJECT" value="BOB Service Request"/>
    <add key="COMPLAINT_EMAIL_SUBJECT" value="BOB Complaint"/>
    <add key="PaymentActive" value="1"/>
    <add key="Registration_EMAIL_SUBJECT" value="Registration successful"/>
    <add key="ForgotUnm_EMAIL_SUBJECT" value="Forgot Username"/>
    <add key="OTP_EMAIL_SUBJECT" value="One time password"/>
    <add key="Upload_SizeBytes" value="20480"/>
    <add key="ChartImageHandler" value="storage=file;timeout=20;"/>
    <add key="ImageFiles" value=".jpg,.jpeg,.png"/>
    <add key="OverRideUserEmail" value=""/>
    <add key="OverRideUserMobile" value=""/>
    <add key="ExceptionEmail" value=""/>
    <add key="ExpiryYear" value="15"/>
    <add key="APP_EMAIL_SUBJECT" value="BOBCARDS: Online Application Form Details"/>
    <add key="binaryErrorLogPath" value="d:\"/>
    <add key="JettyServerUrl" value="http://10.22.9.11:7001/BOBConnectAPI/portalRequest"/>
    <!--<add key ="PublicURL" value ="https://123.108.38.183"/>-->
    <!--<add key="PublicURL" value="https://10.22.9.11:481/" />-->
    <add key="PublicURL" value="http://localhost:57686/"/>
    <add key="SessionWarning" value="1"/>
    <add key="pollInterval" value="60000"/>
    <add key="BOBBankingNetBankingURL" value="https://febatest.bobibanking.com/corp/AuthenticationController?"/>
    <add key="BOBNetBankingVericationCallURL" value="https://febatest.bobibanking.com/corp/shpMallVerify.do?"/>
    <!--localhost-->
    <add key ="ReCaptcha_Key" value="6LfirLsUAAAAACALm96mlfSVbb0WgAhDBqno3aiy"/>
    <add key ="ReCaptcha_Secret" value="6LfirLsUAAAAABVeifq9zW3tQw5zgnLaJc5f2y4N"/>
    <!--UAT-->
    <!--<add key="ReCaptcha_Key" value="6LftC7wUAAAAAGIkMrtxDt4fNlSawW2ohI_lsacN" />
    <add key="ReCaptcha_Secret" value="6LftC7wUAAAAACIxTcoPTvO984UYPL8El7OFADvj" />-->
    
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpCookies httpOnlyCookies="false"/>
    <machineKey decryption="AES" decryptionKey="882268280134BD04172D29EA0C001BCC035A262C1CA40E5A0A9765309E39D69E" validation="HMACSHA256" validationKey="4F107201A05919927DF39AD405EC3DFCDDC9411E0F358D4CA516B3B38F919A378853871DD8285C887736F976E5656A1C9DE96A7B3B8EAC5BC872CEAC2999E7C4"/>
    <sessionState timeout="10"/>
    <!--<customErrors mode="Off" defaultRedirect="~/ErrorPage/CodeError.aspx"/>-->
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpModules>
      <add name="BOBRewriter" type="BOBRewriter"/>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah"/>
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah"/>
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah"/>
      <add type="QueryStringModule" name="QueryStringModule"/>
    </httpModules>
    <httpRuntime maxRequestLength="10240" requestValidationMode="2.0" enableVersionHeader="false" requestPathInvalidCharacters=""/>
    <pages validateRequest="false" enableEventValidation="false" controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="CardHolder.Utility"/>
      </namespaces>
      <controls>
        <add namespace="CustomServerControl" assembly="CustomServerControl" tagPrefix="csc"/>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <httpHandlers>
      <!--<add verb="*" path="captcha.ashx" type="CardHolder.Utility.CAPTCHA.captcha" />-->
      <add verb="GET" path="CaptchaImage.axd" type="MSCaptcha.captchaImageHandler, MSCaptcha"/>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization,Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" slidingExpiration="true" timeout="10"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <add name="BOBRewriter" type="BOBRewriter" preCondition="managedHandler"/>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler"/>
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler"/>
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler"/>
      <add type="QueryStringModule" name="QueryStringModule"/>
    </modules>
    <handlers>
      <remove name="ChartImageHandler"/>
      <remove name="MSCaptcha.captchaImageHandler"/>
      <add name="MSCaptcha.captchaImageHandler" verb="GET,HEAD,POST" path="CaptchaImage.axd" type="MSCaptcha.captchaImageHandler, MSCaptcha" resourceType="Unspecified"/>
      <!--<add name="captcha" path="captcha.ashx" verb="*" type="CardHolder.Utility.CAPTCHA.captcha" resourceType="Unspecified" preCondition="integratedMode" />-->
      <add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
    <defaultDocument>
      <files>
        <add value="Login.aspx"/>
      </files>
    </defaultDocument>
    <httpErrors errorMode="Custom" defaultResponseMode="Redirect" existingResponse="Replace">
      <remove statusCode="401" subStatusCode="-1"/>
      <remove statusCode="405" subStatusCode="-1"/>
      <remove statusCode="406" subStatusCode="-1"/>
      <remove statusCode="412" subStatusCode="-1"/>
      <remove statusCode="502" subStatusCode="-1"/>
      <remove statusCode="501" subStatusCode="-1"/>
      <remove statusCode="500" subStatusCode="-1"/>
      <remove statusCode="404" subStatusCode="-1"/>
      <remove statusCode="403" subStatusCode="-1"/>
      <!--<error statusCode="404" prefixLanguageFilePath="" path="/ErrorPage/CodeError.aspx" responseMode="Redirect" />
      <error statusCode="403" prefixLanguageFilePath="" path="/ErrorPage/CodeError.aspx" responseMode="Redirect" />
      <error statusCode="501" prefixLanguageFilePath="" path="/ErrorPage/CodeError.aspx" responseMode="Redirect" />
      <error statusCode="502" prefixLanguageFilePath="" path="/ErrorPage/CodeError.aspx" responseMode="Redirect" />
      <error statusCode="412" prefixLanguageFilePath="" path="/ErrorPage/CodeError.aspx" responseMode="Redirect" />
      <error statusCode="406" prefixLanguageFilePath="" path="/ErrorPage/CodeError.aspx" responseMode="Redirect" />
      <error statusCode="405" prefixLanguageFilePath="" path="/ErrorPage/CodeError.aspx" responseMode="Redirect" />
      <error statusCode="401" prefixLanguageFilePath="" path="/ErrorPage/CodeError.aspx" responseMode="Redirect" />
      <error statusCode="500" prefixLanguageFilePath="" path="/ErrorPage/CodeError.aspx" responseMode="Redirect" />-->
    </httpErrors>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By"/>
        <remove name="Vary"/>
        <add name="Vary" value="Accept-Encoding"/>
        <clear/>
        <add name="ETag" value=" "/>
        <remove name="X-UA-Compatible"/>
        <remove name="ETag"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <elmah>
    <!--
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on remote access and securing ELMAH.
    -->
    <security allowRemoteAccess="false"/>
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionString=""/>
  </elmah>
  <location path="elmah.axd" inheritInChildApplications="false">
    <system.web>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah"/>
      </httpHandlers>
      <!-- 
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on using ASP.NET authorization securing ELMAH.

      <authorization>
        <allow roles="admin" />
        <deny users="*" />  
      </authorization>
      -->
    </system.web>
  </location>
  <location path="css">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="fonts">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="images">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="javascript">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="captcha.ashx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="CaptchaImage.axd">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Registration.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Application.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ForgotUsername.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ForgotPassword.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ErrorPage/WebError.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ErrorPage/CodeError.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="EncryptDecrcypt4All.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ApplicationPreview.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ApplicationSuccess.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ApplicationFormDownload.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="terms_conditions.htm">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Maintance.htm">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Login.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="LoginNext.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Captchaa.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>